{{{opensearch_license}}}
{{{generated_code_warning}}}

{{#is_function}}
import { ApiResponse } from '../../lib/Transport'
{{/is_function}}
{{#imports}}
import * as {{{name}}} from '{{{path}}}'
{{/imports}}

{{#types}}
{{#is_interface}}
export interface {{{name}}} {{{definition}}}
{{/is_interface}}
{{^is_interface}}
export type {{{name}}} = {{{definition}}}
{{/is_interface}}

{{/types}}