{{{opensearch_license}}}
{{{generated_code_warning}}}

{{#is_function}}
import { ApiResponse } from '../../lib/Transport'
{{/is_function}}
{{#imports}}
import * as {{{name}}} from '{{{path}}}'
{{/imports}}

{{#types}}
export type {{{name}}} = {{{definition}}}

{{/types}}