name: Integration for Compatibility

# trigger on every commit push and PR for all branches
on:
  push:
    branches: ['**']
    paths-ignore:
      - '**/*.md'
  pull_request:
    branches: ['**']
    paths-ignore:
      - '**/*.md'

jobs:
  integration-test-compatibility:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        secured: ['true', 'false']
        entry:
          - { opensearch_version: 1.1.0 }
          - { opensearch_version: 1.2.0 }
          - { opensearch_version: 1.2.1 }
          - { opensearch_version: 1.2.2 }
          - { opensearch_version: 1.2.3 }
          - { opensearch_version: 1.2.4 }
          - { opensearch_version: 1.3.0 }
          - { opensearch_version: 1.3.1 }
          - { opensearch_version: 1.3.2 }
          - { opensearch_version: 1.3.3 }
          - { opensearch_version: 2.0.0 }
          - { opensearch_version: 2.0.1 }

    steps:
      - uses: actions/checkout@v2

      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Runs OpenSearch cluster
        id: start_opensearch_cluster
        run: |
          export OPENSEARCH_VERSION=${{ matrix.entry.opensearch_version }}
          export SECURE_INTEGRATION=${{ matrix.secured }}
          make cluster.clean cluster.opensearch.build cluster.opensearch.start

      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Install
        run: |
          npm install

      - name: Integration test without security
        if: ${{ matrix.secured == 'false'}}
        run: |
          npm run test:integration:helpers

      - name: Integration test with security
        if: ${{ matrix.secured == 'true'}}
        run: |
          npm run test:integration:helpers-secure

      - name: Stop the OpenSearch cluster
        if: ${{ steps.start_opensearch_cluster.outcome == 'success'}}
        run: |
          make cluster.opensearch.stop
