name: Integration with Unreleased OpenSearch

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '**/*.md'
  pull_request:
    branches:
      - 'main'
    paths-ignore:
      - '**/*.md'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        entry:
          - { opensearch_ref: '1.x' }
          - { opensearch_ref: '2.0' }
          - { opensearch_ref: '2.x' }
          - { opensearch_ref: 'main' }
    steps:
      - name: Checkout OpenSearch
        uses: actions/checkout@v2
        with:
          repository: opensearch-project/OpenSearch
          ref: ${{ matrix.entry.opensearch_ref }}
          path: opensearch

      - name: Assemble OpenSearch
        run: |
          cd opensearch
          ./gradlew assemble
        # This step runs the docker image generated during gradle assemble in OpenSearch. It is tagged as opensearch:test.
        # Reference: https://github.com/opensearch-project/OpenSearch/blob/2.0/distribution/docker/build.gradle#L190
      - name: Run Docker Image
        run: |
          docker run -p 9200:9200 -p 9600:9600 -d -e "discovery.type=single-node" -e "bootstrap.memory_lock=true" opensearch:test
          sleep 90

      - name: Checkout Javascript Client
        uses: actions/checkout@v2

      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Install
        run: |
          npm install

      - name: Integration test
        run: |
          npm run test:integration:helpers
