name: License headers

on: [push, pull_request]

jobs:
  licenseheader:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Check license headers
      run: "./.ci/license/check-license-headers.sh"